.env
discord_creds.txt
__pycache__
secrets/token
stenobot/data/dynamic/notebooks.db-shm
stenobot/data/dynamic/notebooks.db-wal
stenobot/data/dynamic/database.db3-shm
stenobot/data/dynamic/database.db3-wal
